.comment-list { 
    height: 50vh;
    overflow-y: auto;
}

.comment-list::-webkit-scrollbar {
    width: 0.6em;
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: rgba(112, 128, 144, 255);
    outline: 1px solid rgba(112, 128, 144, 255);
    border-radius: 0.6em;
}