<p class="text-center text-muted" *ngIf="!photos.length">
  Sorry, no photos
</p>
<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div *ngFor="let photo of cols" class="col-4" apDarkenOnHover brightness="90%">
      <a [routerLink]="['/p', photo.id]">
        <ap-card>
          <div class="pull-left mb-2">
              <i aria-hidden="true" class="text-secondary fa fa-heart-o fa-1x mr-2"></i>
              <span class="text-secondary align-baseline">{{ photo.likes }}</span>
              <i aria-hidden="true" class="text-secondary fa fa-comment-o fa-1x mr-2 ml-2"></i>
              <span class="text-secondary align-baseline">{{ photo.comments }}</span>
          </div>
          <ap-photo 
            [url]="photo.url" 
            [description]="photo.description">
          </ap-photo>
          <ap-card [title]="photo.description"></ap-card>
        </ap-card>
      </a>
    </div>
  </li>
</ol>