.photos-list {
    display: flex;
    flex-flow: row wrap;
}

.container-photos {
    width: 33.3%;
    
    @media(max-width:840px) {
        width: 50%;
    }

    @media(max-width:560px) {
        width: 100%;
    }
    
}

.photo-votes {
    text-align: left;
    margin-bottom: 1em;
}




